/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 14pt;
  background-color: #ffffff;
  color: #0F0F0F;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
  color: #0F0F0F;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}
a {
  color: #6488EA;
}

ul li {
    margin-bottom: 5px;
}

ol li {
    margin-bottom: 25px;
}